*  
body{
    margin: 0;
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: rgba(102, 160, 79, 0.226);
    min-height: 100vh;
}
.header{
    background-color: rgb(38, 42, 46);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; 
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-linke{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    margin-bottom: 0;
    
}
.nav-menu-item  {
    font-size: 18px;
    margin: 0 20px;
    line-height: 80px;
    text-transform: uppercase;
}
.card{
  width: 650px;
  
}

.card-title  {
    color: rgb(43, 65, 139);
    text-align: center;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.card-text  {
    font-family: cursive;
}
.bienvenido{
    font-size: 60;
    text-align: center;
    color: rgb(141, 207, 74);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pie-pagina{
    width: 100%;
    background-image:linear-gradient(
        0deg,
        rgba(7, 0, 0, 0.281),
        rgba(7, 1, 1, 0.5)
        ) 
    ,url("/IMAGENES/somo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 40px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #fefefe;
    margin-bottom: 10px;
  }

  .pie-pagina .grupo-1 .red-social a{
    display:inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #070707;
    margin-right: 10px;
    background-color:rgb(68, 119, 196);
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(242, 247, 247);
  }
  .pie-pagina .grupo-2{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ) 
    ,url("/IMAGENES/somo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 15px 10px;
    text-align: center;
    color: #0f0f0f;  
  }
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
  .sobrenotros{
    color: rgb(124, 168, 79);
}
/*inicio*/
  @media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 45px 0px;
       padding: 35px 0px;
    }
}
    .precio {
        color: green;
        font-weight: bold;
        font-size: 50px;
    }